
*.ipch
*.user
*.obj
*.recipe
x64/Debug/doomgeneric.pdb
x64/Debug/doomgeneric.ilk
x64/Debug/doomgeneric.exe
*.pdb
*.idb
*.tlog
*.log
doomgeneric/x64/Debug/doomgeneric.vcxproj.FileListAbsolute.txt
*.WAD
resources/Doom1.WAD.xxx
.vs/doomgeneric/v16/Browse.VC.db
.vs/doomgeneric/v16/Browse.VC.db-shm
.vs/doomgeneric/v16/Browse.VC.db-wal
.vs/doomgeneric/v16/Browse.VC.opendb
.vs/doomgeneric/v16/.suo
